<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <div style="display:flex; justify-content: center;">
    <table>
      <thead>
        <tr>
          <td>username</td>
          <td>email</td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor ="let user of $users | async">
          <td>{{user.username}}</td>
          <td>{{user.email}}</td>
        </tr>
      </tbody>
    </table>
  </div>

</div>
